{% load staticfiles %}
<html>
    <head>
        <title>Django Pra</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">        
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Inconsolata&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Bitter:700&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link rel="icon" href="{% static 'img/favicon.png' %}">

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        
        
    </head>
    <body class="main">
        <div class="page-header">
            <h1><a href="/">Web Programmnig with Django</a></h1>
            <h4 class="page-header-sub">Building a blog</h4>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>        
        <footer class="footer">
            <address>
                <p>
                    Tutorial practice <a href="http://tutorial.djangogirls.org/pt/">django girls</a>
                    </br>
                    Source code <a href="https://github.com/alanio/my-first-blog">github.com/alanio</a>
                    </br>
                    <a href="https://about.me/alanio">About me</a>
                </p>
                
            </address>

        </footer>
    </body>
</html>